<ion-grid>
  <ion-row>
    <ion-col size-xs="12">
      <figure class="title-wrapper">
        <img
          src="/assets/icon/need.svg"
          style="height:34px; filter: invert(48%) sepia(6%) saturate(1016%) hue-rotate(184deg) brightness(92%) contrast(88%);"
        />
        <figcaption>Ich brauche …</figcaption>
      </figure>
    </ion-col>
    <ng-container *ngIf="currentDemandFilter">
      <demand-map></demand-map>
    </ng-container>
    <ng-container *ngIf="!currentDemandFilter">
      <ion-col size-xs="4" *ngFor="let product of products; let index = index">
        <demand-list-item
          [product]="product"
          (select)="onSelect($event)"
        ></demand-list-item>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-grid>

<ng-container *ngIf="currentDemandFilter">
  <ul class="horizontal-demand-list">
    <li *ngFor="let product of products; let index = index">
      <demand-list-item
        [product]="product"
        (select)="onSelect($event)"
      ></demand-list-item>
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="!currentDemandFilter">
  <ion-grid>
    <ion-row>
      <ion-col>
        <demand-button (click)="demandFilter($event)"></demand-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
