<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Demand
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Demand</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-icon name="wifi"></ion-icon>
    <ion-card-content>

      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  <demand-button></demand-button>
<demand-list></demand-list>

</ion-content>
