<ion-grid>
    <ion-row>
        <ion-col>
            <figure class="title-wrapper">

                <img src="/assets/icon/find.svg" style="height:34px">
                <figcaption> Bewerte wie viel du siehst …</figcaption>
            </figure>

            <h6>{{ location.name }}</h6>

            <supply-list-item *ngFor="let voting of votings; let index = index"
                              [enabled]="isVotingEnabled(index)"
                              [voting]="voting"
                              (vote)="onVote($event)"
            ></supply-list-item>
        </ion-col>
    </ion-row>
</ion-grid>