<ion-grid>
  <ion-row>
    <ion-col>
      <figure class="title-wrapper">
        <img
          src="/assets/icon/find.svg"
          style="height:34px; filter: invert(48%) sepia(6%) saturate(1016%) hue-rotate(184deg) brightness(92%) contrast(88%);"
        />
        <figcaption>
          Bewerte wie viel du siehst im {{ location.name }}
        </figcaption>
      </figure>
      <ng-container *ngIf="isVotingAvailable; else done">
        <supply-list-item
          *ngFor="let voting of votings; let index = index"
          [voting]="voting"
          (vote)="onVote($event)"
          (select)="onSelect($event)"
        ></supply-list-item>
      </ng-container>
      <ng-template #done>
        <figure class="title-wrapper">
          <img
            src="assets/danke.svg"
            style="height:300px; width: 250px; margin-top: 28px;"
          />
          <figcaption style="color: #2FBBE4">
            Geschafft! Danke für deine Unterstützung
          </figcaption>
        </figure>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-grid>
