ion-card {
  height: 100%;
  width: 100%;
  padding: 4px;
  text-align: center;
  margin: 5px;
  display: block;
}

ion-icon {
  margin: 0 auto;
  display: block;
  font-size: 18px;
}

ion-card-content{
  padding: 10px 0;
}
