ion-item {
  --ion-item-border-color: transparent;
  --background: transparent;
}

.img-wrapper {
  width: 45px;
  margin: 0;
}

ion-card{
  margin: 0;
  margin-bottom: 20px;
  border-radius: 12px;
  padding-bottom: 5px;
  background: #D3E0F5;
  box-shadow: inset 5px 5px 5px #BCC7DB, inset -5px -5px 5px rgb(255,255,255, 0.4);
}

@media (prefers-color-scheme: dark) {
  ion-card{
    background-image: linear-gradient(133deg, #131416 0%, #21252A 100%);
    box-shadow: -1px -1px 1px 0 rgba(255,255,255,0.17), 1px 1px 1px 0 rgba(166,171,189,0.30);
  }



}