/*

ion-button[ng-reflect-color="success"]{
  --ion-color-success: #FE932A;
  --ion-color-base: linear-gradient(-42deg, #000000 0%, #FFFFFF 100%) !important;
}
ion-button[ng-reflect-color="warning"]{
  --ion-color-success: #32A05F;

  --ion-color-base: linear-gradient(-42deg, #000000 0%, #FFFFFF 100%) !important;
}
ion-button[ng-reflect-color="danger"]{
  --ion-color-success: #DC372B;
  --ion-color-base: linear-gradient(90deg, rgba(220,55,43,0.804359243697479) 0%, rgba(220,55,43,1) 100%) !important;
} */
